.nav-link{
    display: flex;
    padding: 50px;
    margin-top: 50px;
}
a{display: flex;
    background-color: rgb(170, 170, 170);
    border-radius: 15px;
    margin-left: 70px;
justify-content: right;
justify-items: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img1{justify-items: center;
    margin-top: 15px;
    height: 80px;
    width: 80px;
    
float: left;}
nav div{display: flex;
    float: right;
}
img{padding-top: 20px;
    height: 400px;
    
   
    
}
h1{
    text-align: center;
}
p{padding-top: 50px;
    text-align: center;
}
.clothes{
height: 200px;
}
div .card{
    text-align: center;
    background-color: rgb(199, 197, 197);
}

.cards{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.card img{
    height: 100px;
    width: 100px;
    margin-left: 90px;
}

.card-body{
    background-color: rgb(199, 197, 197);
}
.btn.btn-primary{
    margin-right: 70px;
}
.accv{
    display: flex;
    height: 100px;
    justify-content: center;
    justify-items: center;

}
#accordionFlushExample{padding-top: 30px;}

h2{padding-top: 10px;
    text-align: center;
}
h3{padding-top: 10px;}

.nav-link{
    text-decoration-color: brown;
}
.pied-page{
    margin-top: 210px;  
    overflow-x: hidden;
    padding-bottom: 50px;
    background-color: rgb(165, 165, 165);
}
.pied-page p{
    margin-top: 15px;
    transform: translateX(100%);
    animation:  pied-page 15s linear infinite;
    text-align: center;
    background: fixed;
}
@keyframes pied-page{
    0%{transform:translateX(100%);
}
     100%{transform:translateX(-100%);

}
}